<form name="formulario" ng-submit="enviar()" novalidate>
    
    <div ng-if="registro_info.id_usuario_reemplazo">
        <div ng-init="BuscarTextos.id_usuario = registro_info.reemplazo_nombre_completo; BuscarTextos.id_cargo_usuario = registro_info.cargo_nombre_completo"></div>
        <div ng-init="registro_info.fecha_inicio = ctrl.moment(registro_info.fecha_inicio)"></div>
        <div ng-init="registro_info.fecha_fin = ctrl.moment(registro_info.fecha_fin)"></div>
    </div>
    <!--default values <div ng-if="!registro_info.id_usuario_reemplazo">
        <div ng-init="registro_info.id_sede = 1; registro_info.id_area = 1"></div>
    </div>-->

    <md-toolbar>
        <div class="md-toolbar-tools">
            <div><md-icon>sync_alt</md-icon> Reemplazo</div>
        </div>
    </md-toolbar>

    <md-content layout-padding>
        <div layout="column" ng-init = "BuscarFn.usuarios = autocompleteList('usuarios'); BuscarFn.cargos_usuarios = autocompleteList('cargos_usuarios'); ">

            <md-autocomplete flex="100"
            md-input-icon="account_circle"
            ng-required="true"
            md-input-name="id_cargo_usuario"
            md-selected-item="BuscarTemp.id_cargo_usuario"
            md-search-text="BuscarTextos.id_cargo_usuario"
            md-items="acItem in BuscarFn.cargos_usuarios({term: BuscarTextos.id_cargo_usuario})"
            md-item-text="acItem.nombre_completo"
            md-floating-label="Cargo a reemplazar" md-require-match 
            md-autoselect="true"
            md-menu-class="md-autocomplete-card md-3-line">
            <md-item-template>
                <div layout="row" layout-fill layout-align="start center">
                    <div class="md-autocomplete-card-avatar">
                        <md-icon>group</md-icon> 
                    </div>
                    <div class="md-autocomplete-card-content">
                        <p md-highlight-text="BuscarTextos.id_cargo_usuario" md-highlight-flags="i">{{acItem.nombre_completo}}</p>
                        <div><small md-highlight-text="BuscarTextos.id_cargo_usuario" md-highlight-flags="i">{{acItem.oficina}} - {{acItem.cargo}}</small></div>
                    </div>
                </div>
            </md-item-template>
            <div class="hint">Cargo a reemplazar</div>
        
            </md-autocomplete>
             
            <md-autocomplete flex="100"
            md-input-icon="account_circle"
            ng-required="true"
            md-input-name="id_usuario"
            md-selected-item="BuscarTemp.id_usuario"
            md-search-text="BuscarTextos.id_usuario"
            md-items="acItem in BuscarFn.usuarios({term: BuscarTextos.id_usuario})"
            md-item-text="acItem.nombre_completo"
            md-floating-label="Usuario en reemplazo" md-require-match 
            md-autoselect="true"
            md-menu-class="md-autocomplete-card md-3-line">
            <md-item-template>
                <div layout="row" layout-fill layout-align="start center">
                    <div class="md-autocomplete-card-avatar">
                        <md-icon>account_balance</md-icon> 
                    </div>
                    <div class="md-autocomplete-card-content">
                        <p md-highlight-text="BuscarTextos.id_usuario" md-highlight-flags="i">{{acItem.nombre_completo}}</p>
                        <div><small md-highlight-text="BuscarTextos.id_usuario" md-highlight-flags="i">{{acItem.nombre_usuario}}</small></div>
                    </div>
                </div>
            </md-item-template>
            <div class="hint">Usuario en reemplazo</div>
        
            </md-autocomplete>

            <div layout="column" layout-gt-sm="row" layout-padding>
                <div layout="column" flex-order="1" flex-order-gt-sm="0">
                    <md-subheader>Fecha Inicio</md-subheader>
                    <md-calendar ng-model="registro_info.fecha_inicio" ></md-calendar>
                  </div>
                  <div layout="column" flex-order="1" flex-order-gt-sm="1">
                    <md-subheader>Fecha Fin</md-subheader>
                    <md-calendar ng-model="registro_info.fecha_fin"></md-calendar>
                  </div>
                  <div layout="column" flex-order="0" flex-order-gt-sm="2">
                    <md-subheader>Fechas</md-subheader>
                    <div>
                      <label>Ingresa</label>
                      <div>{{registro_info.fecha_inicio | date:shortDate}}</div>
                    </div>
                    <div><label>Inicia</label>
                      <div>{{registro_info.fecha_fin | date:shortDate}}</div>
                    </div>
                  </div>
            </div>              
        </div>

     </md-content>
    <md-divider></md-divider>

    <div layout-padding layout="column">
        <div layout="row" layout-align="end center">
            <md-button class="md-raised" ng-click="cancel()"><md-icon>reply</md-icon> Cancelar</md-button>
            <md-button type="submit" class="md-accent md-raised" ng-disabled="loading"><md-icon>save</md-icon> {{nuevo ? 'Crear Registro' : 'Actualizar'}}</div></md-button>
        </div>
    </div>
</form>