

<div class="module-selector">
	<div>
		<div>
			<h2>Home School</h2>
			<p>Inscrípción a libros por cada periodo </p>
			<div>
				<a ui-sref="index.homeschool"><img src="./assets/wai/images/homeschool.svg" alt=""></a>
			</div>
			<div>
				<md-button ui-sref="index.homeschool" class="md-raised md-primary">Ingresar a Vitaschool</md-button>
			</div>
			
		</div>
	</div>
	<div>
		<div>
			<h2>Out School</h2>
			<p>Enseñanza de docentes capacitados</p>
			<div><img src="./assets/wai/images/outschool.svg" alt=""></div>
			<div>
				<md-button ui-sref="index.outschool" ng-disabled="true" class="md-raised md-primary">Ingresar a OutSchool</md-button>
			</div>
		</div>
	</div>
</div>