/**
iconfont Webfont
*/

@font-face {
 font-family: "iconfont";

 src: url('../fonts/iconfont.eot?1604686193411');
 src: url('../fonts/iconfont.eot?#iefix-1604686193411') format('embedded-opentype'),
  url('../fonts/iconfont.woff2?1604686193411') format('woff2'),
  url('../fonts/iconfont.woff?1604686193411') format('woff'),
  url('../fonts/iconfont.ttf?1604686193411') format('truetype');
 font-weight: normal;
 font-style: normal;
}

[class^='icon-']:before,
[class*=' icon-']:before {
 font-family: 'iconfont';
 display: inline-block;
 vertical-align: middle;
 line-height: 1;
 font-weight: normal;
 font-style: normal;
 speak: none;
 text-decoration: inherit;
 font-size: inherit;
 text-transform: none;
 text-rendering: optimizeLegibility;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

/*
Glyphs list
*/

.icon-arrow:before {
 content: '\ea01';
}

.icon-circle-1:before {
 content: '\ea02';
}

.icon-circle-2:before {
 content: '\ea03';
}

.icon-circle-3:before {
 content: '\ea04';
}

.icon-circle-4:before {
 content: '\ea05';
}

.icon-circle-5:before {
 content: '\ea06';
}

.icon-circle-7:before {
 content: '\ea07';
}

.icon-circle-8:before {
 content: '\ea08';
}

.icon-logo:before {
 content: '\ea09';
}

.icon-menu:before {
 content: '\ea0a';
}