$colorWhite: #FFFFFF;
$colorBlack: #000000;

$fontPrimary: "Poppins", sans-serif;
$fontPrimarySmall: "Poppins Light", sans-serif;
$fontPrimaryExtraSmall: "Poppins 100", sans-serif;
$fontPrimaryBold: "Poppins Bold", sans-serif;
$fontPrimaryExtraBold: "Poppins Extra Bold", sans-serif;
$fontSecondary: "Roboto", Helvetica, Arial, sans-serif;
