<form name="formulario" ng-submit="enviar()" novalidate flex layout="column">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <div>
                <md-icon>bookmarks</md-icon> {{item.nombre_periodo}} - {{item.nombre}}
            </div>
        </div>
    </md-toolbar>

    <md-content flex layout-fill>
        <div flex layout-fill>
            <div layout="row">
                <div flex="30">
                    <div class="text-center">
                        <img widh="120" height="120" ng-src="./uploads/libros/{{item.foto}}" class="md-avatar"  />
                    </div>
                    
                    <div  class="text-center">  <b>N° {{item.id_periodo_detalle | padId}}</b></div>
                </div>
                <div layout="column">
                    <div>Descripción: </div>
                    <div layout="row">
                        <div flex="100">
                            <p>{{item.descripcion}}</p>
                        </div>
                    </div>
                    <div>
                        <h3> <span class="md-subhead-small">{{item.nombre_bloque}}</span> · {{ item.nombre }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </md-content>

    <md-divider></md-divider>

    <div layout-padding layout="column">
        <div layout="row" layout-align="end center">
            <md-button class="md-raised" ng-click="cancel()">
                <md-icon>reply</md-icon> Salir
            </md-button>
        </div>
    </div>
</form>