<form name="formulario" ng-submit="enviar()" novalidate flex layout="column" ng-init="ctrl.loadItem(nuevo, registro_info)">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <div>
                <md-icon>{{nuevo ? 'add' : 'edit'}}</md-icon> {{nuevo ? 'Crear' : 'Editar'}} Periodos
            </div>
        </div>
    </md-toolbar>

    <md-content flex layout-fill>

        <md-tabs>
            <md-tab>
                <md-tab-label>
                    Proyecto: {{registro_info.nombre}}
                </md-tab-label>

                <md-tab-body>
                    
        <div layout="column" layout-padding>

            <md-input-container flex="100">
                <md-icon>short_text</md-icon>
                <label>Nombre</label>
                <input ng-required="true" name="nombre" autocomplete="off" type="text" ng-model="registro_info.nombre">
            </md-input-container>

            <md-input-container flex="100">
                <md-icon>bookmarks</md-icon>
                <label>Máx. libros</label>
                <input ng-required="true" name="maximo_libros" autocomplete="off" type="number" ng-model="registro_info.maximo_libros">
            </md-input-container>
           
        </div>
<!--
        <div layout="row" layout-xs="column" layout-padding>

            <md-input-container flex="50" flex-xs="100">
                <md-icon>image</md-icon>
                <label>Imágen</label>
                <input  name="foto" autocomplete="off" type="text"
                    ng-model="registro_info.foto" 
                    wai-file-module="periodos" wai-file-model="registro_info.foto" 
                    wai-file-accept="'image/*'" 
                    wai-file-pattern="'image/*'"
                    wai-file-resize="{width: 120, height: 120}"
                    >
                <div class="hint">Adjunta un archivo para especificar la URL</div>
            </md-input-container>
        </div>-->

                </md-tab-body>
            </md-tab>

            
            <md-tab ng-if="!nuevo">
                <md-tab-label>
                    Seleccionar Proyectos
                </md-tab-label>

                <md-tab-body>

                    <div layout="column">
                        <md-input-container>
                            <md-icon>search</md-icon>
                            <label>Búsqueda</label>
                            <input type="text" ng-model="busqueda" />
                        </md-input-container>
                        
                    </div>

                    <div ng-repeat="item in WAI.parametros.libros | filter: busqueda | orderBy:'-id_libro'" layout="row" layout-align="center center" layout-padding>
                        <img style="width:50px; height: 50px" ng-src="./uploads/libros/{{item.foto}}" class="md-avatar" />
                        <div flex>
                            
                                <b>N° {{item.id_libro | padId}}</b> · {{ item.nombre }}
                            
                            
                        </div>
                        <div flex="33" layout="row">
                        
                            <md-input-container flex class="no-margin">
                                <md-select ng-model="ctrl.periodo_libros[item.id_libro]" ng-change="ctrl.switchLibro(registro_info.id_periodo, item)">
                                    <label>Bloque</label>
                                    <md-option ng-value="0">No registrado</md-option>
                                    <md-option ng-repeat="bloque in WAI.parametros.bloques | orderBy:'-id_bloque'"
                                        ng-value="+bloque.id_bloque"
                                    >{{bloque.nombre}}</md-option>
                                </md-select>
                            </md-input-container>
                              
                            
                        </div>
                    </div>

                    
                </md-tab-body>
            </md-tab>
        </md-tabs>

    </md-content>

    <md-divider></md-divider>

    <div layout-padding layout="column">
        <div layout="row" layout-align="end center">
            <md-button class="md-raised" ng-click="cancel()">
                <md-icon>reply</md-icon> Cancelar
            </md-button>
            <md-button type="submit" class="md-accent md-raised" ng-disabled="loading">
                <md-icon>save</md-icon> {{nuevo ? 'Crear Registro' : 'Actualizar'}}
            </md-button>
        </div>
    </div>
</form>