<div ng-cloak>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom class="">
            <!--<md-tab  ui-sref="fliperang.tracking.nuevo" md-active="$state.is('fliperang.tracking.nuevo')">
                <md-tab-label><md-icon>add</md-icon> Nueva compra</md-tab-label>
                <md-tab-body>
                    <div ui-view="nuevo"></div>
                </md-tab-body>
            </md-tab>
            <md-tab ui-sref="fliperang.tracking.envios" md-active="$state.is('fliperang.tracking.envios')">
                <md-tab-label ><md-icon>airplanemode_active</md-icon> Envío / Recepción</md-tab-label>
                <md-tab-body>
                    <div ui-view="envios"></div>
                </md-tab-body>
            </md-tab>-->
            <md-tab ui-sref="homeschool.tracking.listado" md-active="$state.is('homeschool.tracking.listado')">
                <md-tab-label ><md-icon>check</md-icon> Revisión</md-tab-label>
                <md-tab-body>
                    <div ui-view="listado"></div>
                </md-tab-body>
            </md-tab>


        </md-tabs>
    </md-content>
</div>