<form name="formulario" ng-submit="enviar()" novalidate>
    
    <div ng-if="registro_info.id_cargo">
        <div ng-init="BuscarTextos.id_usuario = registro_info.nombre_usuario"></div>
    </div>
    <div ng-if="!registro_info.id_cargo">
        <div ng-init="registro_info.id_sede = 1; registro_info.id_area = 1"></div>
    </div>

    <md-toolbar>
        <div class="md-toolbar-tools">
            <div><md-icon>add</md-icon> Asignar Cargo</div>
        </div>
    </md-toolbar>

    <md-content layout-padding>
        <div layout="column" ng-init = "BuscarFn.usuarios = autocompleteList('usuarios'); ">
            <md-input-container ng-hide="WAI.config.sede_unica">
                <md-icon>account_balance</md-icon>
                <label>Sede</label>
                <md-select ng-model="registro_info.id_sede">
                    <md-option ng-value="item.id_sede" ng-repeat="item in ctrl.sedes | orderBy: 'nombre'">{{item.nombre}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <md-icon>bubble_chart</md-icon>
                <label>Área</label>
                <md-select ng-model="registro_info.id_area">
                    <md-option ng-value="item.id_area" ng-repeat="item in ctrl.areas | orderBy: 'nombre'">{{item.nombre}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <md-icon>business</md-icon>
                <label>Oficina</label>
                <md-select ng-required="true" ng-model="registro_info.id_oficina" ng-disabled="!registro_info.id_sede">
                    <md-option ng-value="item.id_oficina" ng-repeat="item in ctrl.oficinas | filter: {id_sede: registro_info.id_sede, id_area: registro_info.id_area} : true | orderBy: 'nombre'" >{{item.nombre}}</md-option>
                </md-select>
            </md-input-container>
            
            <md-autocomplete flex="100"
            md-input-icon="account_circle"
            ng-required="true"
            md-input-name="id_usuario"
            md-selected-item="BuscarTemp.id_usuario"
            md-search-text="BuscarTextos.id_usuario"
            md-items="acItem in BuscarFn.usuarios({term: BuscarTextos.id_usuario})"
            md-item-text="acItem.nombre_completo"
            md-floating-label="Usuario" md-require-match 
            md-autoselect="true"
            md-menu-class="md-autocomplete-card md-3-line">
            <md-item-template>
                <div layout="row" layout-fill layout-align="start center">
                    <div class="md-autocomplete-card-avatar">
                        <md-icon>account_balance</md-icon> 
                    </div>
                    <div class="md-autocomplete-card-content">
                        <p md-highlight-text="BuscarTextos.id_usuario" md-highlight-flags="i">{{acItem.nombre_completo}}</p>
                        <div><small md-highlight-text="BuscarTextos.id_usuario" md-highlight-flags="i">{{acItem.nombre_usuario}}</small></div>
                    </div>
                </div>
            </md-item-template>
            <div class="hint">Seleccione usuario</div>
        
            </md-autocomplete>
            <md-input-container>
                <md-icon>account_box</md-icon>
                <label>Cargo</label>
                <md-select ng-model="registro_info.id_cargo" ng-required="true">
                    <md-option ng-value="+item.id_cargo" ng-repeat="item in WAI.parametros.cargos">
                        {{item.nombre}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>

     </md-content>
    <md-divider></md-divider>

    <div layout-padding layout="column">
        <div layout="row" layout-align="end center">
            <md-button class="md-raised" ng-click="cancel()"><md-icon>reply</md-icon> Cancelar</md-button>
            <md-button type="submit" class="md-accent md-raised" ng-disabled="loading"><md-icon>save</md-icon> {{nuevo ? 'Crear Registro' : 'Actualizar'}}</div></md-button>
        </div>
    </div>
</form>